@import url("../../../Fonts/fonts.css");

* {
margin: 0px;
padding: 0px;
}
h1 {
text-align: center;
font-family: 'Kumar One Outline', cursive;
}
.home_img {
width: 100%;
height: auto;
}
.default_hr {
text-align: center;
background-color: #f0421f;
border: 3px solid #f0421f;
width: 80px;
height: 2px;
border-radius: 10px;
}
